# K NEAREST NEIGHBOUR CLASSIFIER

**Reading the Dataset**

In [1]:
import pandas as pd

df = pd.read_csv('Dataset_knn.txt',sep = ' ',index_col ='RID')
df

         Age  Income Student Credit_rating Class:buys_computer
RID
1       <=30    High      No          Fair                  No
2       <=30    High      No     Excellent                  No
3    31...40    High      No          Fair                 Yes
4        >40  Medium      No          Fair                 Yes
5        >40     Low     Yes          Fair                 Yes
6        >40     Low     Yes     Excellent                  No
7    31...40     Low     Yes     Excellent                 Yes
8       <=30  Medium      No          Fair                  No
9       <=30     Low     Yes          Fair                 Yes
10       >40  Medium     Yes          Fair                 Yes
11      <=30  Medium     Yes     Excellent                 Yes
12   31...40  Medium      No     Excellent                 Yes
13   31...40    High     Yes          Fair                 Yes
14       >40  Medium      No     Excellent                  No

### Dataset Preprocessing (Conversion to Vectors)

**Assign a Numeric Value to each Value in dataframe**

#import numpy as np

#value_to_number_map = {}
#for feature in df.columns[:-1]:
#    values = np.unique(df[feature])
#    vector_map = {values[i]:i for i in range(len(values))}
#    value_to_number_map[feature] = vector_map

In [2]:
value_to_number_map = {'Age': {'<=30': 0, '31...40': 1, '>40': 2},
                      'Income': {'Low': 0, 'Medium': 1, 'High': 2},
                      'Student': {'No': 0, 'Yes': 1},
                      'Credit_rating': {'Fair': 0, 'Excellent': 1}}

**Convert to Vectors**

In [3]:
X_train = []
y_train = []
for i in range(len(df)):
    tup = []
    for x in df.columns[:-1]:
        tup.append(value_to_number_map[x][df.iloc[i][x]])
    X_train.append(tup)
    y_train.append(df.iloc[i][-1])

**Normalise the Vectors to Avoid Bias**

In [4]:
import numpy as np

for i in range(len(X_train)):
    a = np.sqrt(np.dot(X_train[i],X_train[i]))
    X_train[i] = X_train[i]/a

**Vectorise the given Data Point**

In [5]:
X = {'Age': '<=30' , 'Income': 'Medium' , 'Student': 'Yes' , 'Credit_rating': 'Fair'}
#Vectorise the data point and then normalise the vector
X = [value_to_number_map[x][X[x]] for x in X]
X = X/np.sqrt(np.dot(X,X))

**Compute the Distance from all Points in Training Dataset**

In [6]:
dist = []
for x,y in zip(X_train,y_train):
    dist.append((np.sqrt(np.dot([a-b for a,b in zip(X,x)],[a-b for a,b in zip(X,x)])),y))
dist.sort()

**Classify the Data Point**

In [7]:
k = 3   #Change k here
freq = {a:0 for a in set(y_train)}
for x in dist[:k]:
    freq[x[1]] += 1
print('The Class assigned to given datapoint is',df.columns[-1],'=',max(freq,key = freq.get))

The Class assigned to given datapoint is Class:buys_computer = Yes